<div class='movie-card'>
  <img
    id='{{id}}'
    class='movie-card__img'
    src='https://image.tmdb.org/t/p/w500{{poster_path}}'
    alt='#'
    loading='lazy'
  />
  <div class='movie-card__info'>
    <h2 class='movie-card__title'>{{original_title}}</h2>

    <div class='movie-card__data'>
      <ul class='movie-card__genres'>
        {{#if genres}}
          {{#each genres}}
            <li class='movie-card__genre'>
              <a class='movie-card__text'>{{this.name}}{{#unless @last}},
                {{/unless}}</a>
            </li>
          {{/each}}
        {{else}}<li class='movie-card__genre movie-card__text'> N/A </li>
        {{/if}}
      </ul>
      {{#if year}}
        <p class='movie-card__year movie-card__text'> | {{year}}</p>
      {{else}}<p class='movie-card__text'> | N/A </p>
      {{/if}}
    </div>
  </div>
</div>